<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <title>Lista de productos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<div class="botones-header">
    <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post" class="logout-form">
        <button type="submit">Cerrar Sesión</button>
    </form>
    <a th:href="@{/login}" sec:authorize="isAnonymous()">
        <button class="btn-admin-login">Administrador</button>
    </a>
</div>

    <div id="confirmacion-eliminar" class="toast">
        <p>¿Estás seguro de que quieres eliminar este producto?</p>
        <button id="btn-confirmar-eliminar-individual">Confirmar</button>
        <button id="btn-cancelar-eliminar-individual">Cancelar</button>
    </div>
    
    <div id="confirmacion-compra" class="toast">
         <p>¿Estás seguro de que quieres comprar los productos?</p>
         <button id="btn-confirmar-compra">Confirmar</button>
         <button id="btn-cancelar-compra">Cancelar</button>
    </div>

    <div id="confirmacion-vaciar-carrito" class="toast">
        <p>Se van a eliminar todos los productos de la cesta.<br>¿Estás seguro?</p>
        <button id="btn-confirmar-vaciar">Confirmar</button>
        <button id="btn-cancelar-vaciar">Cancelar</button>
    </div>

    <!-- Toasts nuevos -->
    <div id="carrito-vacio-compra" class="toast">
        <p>No hay productos en el carrito para comprar.</p>
        <button onclick="this.parentElement.classList.remove('show')">Cerrar</button>
    </div>

    <div id="carrito-vacio-vaciar" class="toast">
        <p>No se puede vaciar el carrito porque está vacío.</p>
        <button onclick="this.parentElement.classList.remove('show')">Cerrar</button>
    </div>

    <div th:replace="~{header :: app-header}"></div>

    <div class="acciones-productos" th:if="${esAdmin}">
        <a th:href="@{/formulario}">
            <button>Crear Nuevo Producto</button>
        </a>
    </div>
    
    <ul>
        <li th:each="p : ${productos}">
          <img th:src="${p.imagenUrl}" alt="Imagen del producto" class="imagen-producto"/> 
            <span th:text="${p.nombre} + ' - ' + ${p.precio}" class="truncate-text"></span>
            <div class="lista-productos-acciones">
                <form th:action="@{/carrito/agregar/{id}(id=${p.id})}" th:method="post" th:if="${!esAdmin}">
                    <button type="submit">Añadir al carrito</button>
                </form>
                <a th:href="@{/eliminar/{id}(id=${p.id})}" class="eliminar-producto-link" th:if="${esAdmin}">
                     <img src="https://img.icons8.com/material-outlined/24/000000/filled-trash.png" alt="Eliminar" class="icono-accion">
                </a>
                <a th:href="@{/editar/{id}(id=${p.id})}" th:if="${esAdmin}">
                    <img src="https://img.icons8.com/material-outlined/24/000000/pencil.png" alt="Editar" class="icono-accion">
                </a>
            </div>
        </li>
    </ul>
    
    <div class="carrito-container" th:if="${!esAdmin or true}">
        <h2>Tu Carrito <img src="https://img.icons8.com/material-outlined/75/000000/shopping-cart.png" alt="Icono de carrito de compras" class="icono-carrito"></h2>
        <div th:if="${carrito != null and not carrito.items.empty}">
            <ul>
                <li th:each="item : ${carrito.items}">
                    <span th:text="${item.nombre} + ' - ' + ${item.precio}" class="truncate-text"></span>
                    <a th:href="@{/carrito/eliminar/{id}(id=${item.id})}" class="eliminar-carrito-link">
                        <img src="https://img.icons8.com/material-outlined/24/000000/filled-trash.png" alt="Eliminar del carrito" class="icono-accion">
                    </a>
                </li>
            </ul>
            <h3>Precio Total: <span th:text="${carrito.precioTotal}"></span></h3>
            <h3>IVA (21%): <span th:text="${carrito.precioTotal * 0.21}"></span></h3>
            <h3>Precio con IVA: <span th:text="${carrito.precioTotalConIVA}"></span></h3>
        </div>
    
        <div th:if="${carrito == null or carrito.items.empty}">
            <p>El carrito está vacío.</p>
        </div>
        <div class="carrito-botones"> 
            <button id="btn-comprar" class="btn-carrito">Comprar</button>
            <button id="btn-vaciar-carrito" class="btn-carrito">Vaciar Carrito</button>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const toastEliminarProducto = document.getElementById('confirmacion-eliminar');
        const toastVaciarCarrito = document.getElementById('confirmacion-vaciar-carrito');
        const toastConfirmacionCompra = document.getElementById('confirmacion-compra');
        const toastCarritoVacioCompra = document.getElementById('carrito-vacio-compra');
        const toastCarritoVacioVaciar = document.getElementById('carrito-vacio-vaciar');
        
        const btnConfirmarEliminar = document.getElementById('btn-confirmar-eliminar-individual');
        const btnCancelarEliminar = document.getElementById('btn-cancelar-eliminar-individual');
        const btnConfirmarVaciar = document.getElementById('btn-confirmar-vaciar');
        const btnCancelarVaciar = document.getElementById('btn-cancelar-vaciar');
        const btnComprar = document.getElementById('btn-comprar');
        const btnConfirmarCompra = document.getElementById('btn-confirmar-compra');
        const btnCancelarCompra = document.getElementById('btn-cancelar-compra');

        const enlacesEliminarProducto = document.querySelectorAll('.eliminar-producto-link');
        const enlacesEliminarCarrito = document.querySelectorAll('.eliminar-carrito-link');
        const btnVaciarCarrito = document.getElementById('btn-vaciar-carrito');
        let urlAccion = '';

        enlacesEliminarProducto.forEach(enlace => {
            enlace.addEventListener('click', function(event) {
                event.preventDefault(); 
                urlAccion = enlace.href; 
                toastEliminarProducto.classList.add('show');
            });
        });

        enlacesEliminarCarrito.forEach(enlace => {
            enlace.addEventListener('click', function(event) {
                event.preventDefault();
                urlAccion = enlace.href;
                toastEliminarProducto.classList.add('show');
            });
        });

        if (btnVaciarCarrito) {
            btnVaciarCarrito.addEventListener('click', function(event) {
                event.preventDefault();
                const carritoVacio = document.querySelectorAll('.carrito-container ul li').length === 0;
                if (carritoVacio) {
                    toastCarritoVacioVaciar.classList.add('show');
                } else {
                    urlAccion = '/carrito/resetear';
                    toastVaciarCarrito.classList.add('show');
                }
            });
        }

        if (btnComprar) {
            btnComprar.addEventListener('click', function(event) {
                event.preventDefault();
                const carritoVacio = document.querySelectorAll('.carrito-container ul li').length === 0;
                if (carritoVacio) {
                    toastCarritoVacioCompra.classList.add('show');
                } else {
                    urlAccion = '/comprar';
                    toastConfirmacionCompra.classList.add('show');
                }
            });
        }

        btnConfirmarEliminar.addEventListener('click', function() {
            window.location.href = urlAccion;
        });
        btnCancelarEliminar.addEventListener('click', function() {
            toastEliminarProducto.classList.remove('show');
        });
        btnConfirmarVaciar.addEventListener('click', function() {
            window.location.href = urlAccion;
        });
        btnCancelarVaciar.addEventListener('click', function() {
            toastVaciarCarrito.classList.remove('show');
        });

        if (btnConfirmarCompra) {
            btnConfirmarCompra.addEventListener('click', function() {
                window.location.href = urlAccion;
            });
        }

        if (btnCancelarCompra) {
            btnCancelarCompra.addEventListener('click', function() {
                toastConfirmacionCompra.classList.remove('show');
            });
        }
    });
    </script>
    
    <footer class="app-footer">
        <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> Tu Tienda Online. Todos los derechos reservados.</p>
        <a href="https://formacion.ipartek.com/" target="_blank" class="enlace-footer">Formación Ipartek</a>
    </footer>
</body>
</html>
